<!DOCTYPE html>
<html lang="es">



<body>
    <header class="enca">
        <div>
            <a href="#">
                <img class="bo" src="static/images/LOGOBLANCO.png" alt="Logo BLANCO">
            </a>
        </div>



    </header>

    {% block content %} {% endblock %}
    <!--::::Pie de Pagina::::::-->
    

</body>

</html>

<link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/nicepage.css')}}">
<script src="{{ url_for('static',filename='js/core.js')}}"></script>