{% extends "base.html" %} {% block title %} Listado de Peliculas {% endblock %} {% block content %}


<div class="centrado1">Perfil, {{ session["usuario"] }}
    <br><a href="/logout">Cerrar sesión</a>
</div>


  

<div class="centrado1">

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>sala</th>
                <th>hora</th>
            </tr>
        </thead>
        <tbody>
            {% for usu in rows %}
            <tr>
                <td>{{ usu["nombre"] }}</td>
                <td>{{ usu["precio"] }}</td>
                <td>{{ usu["stock"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br> {% endblock %}
